* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #6d6d6d;
    text-align: center;
    margin: 0 auto;
    background-color: #ededed;  
}

ul {
    list-style: none;
    padding-left: 0;
}

h1 {
    font-size: 2.5em;
    color: #000000;
    font-family: 'Lobster', Serif;
}

h3 {
    font-weight: 600;
}

span {
    font-weight: 700;
}

p {
    line-height: 1.563em;
}

footer {
    border-top: 1px solid #d8d8d8;
}

a {
    border-bottom: 3px solid transparent;
}

a:hover {
    border-bottom: 3px solid #52bbb4;
}

.top-nav {
    background-color: #FFF;
    margin: 0.313em auto;   
    padding: 0.625em;
}


.portfolio-box { 
    background-color: #FFFFFF;
    color: #797979;
}

.full {
    display: none;
}


/* NAV STYLES  */


.main-nav a {
    display: block;
    text-align: center;
    padding: .8em;
}

.main-nav li {
    background-color: #fff;
    margin: .4em 0.938em;
}

.uppercase-text {
    text-transform: uppercase;
    font-size: 0.875em;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}



/* LAYOUT STYLES */
.title-margin {
    margin: 1.2em auto;
}

.sub-header {
    margin: 2.500em 1.063em;
    
}

.portfolio-box {
    padding: 1.875em 0.813em 1.250em;
}

.nav-padding {
    padding: 0;
    margin: .625em;
}

.portfolio-title,
.skills-title {
    margin-top: 0;
    margin-bottom: 2.900em;
}


.portfolio-item,
.contact-title {
    margin-bottom: 1.875em;
}

.portfolio-item-title {
    margin-top: 1.875em;
}

.skills-box {
    background-color: #fafafa;
    padding: 3.750em;

}

.contact-box {
    margin: 3.5em .8em;
}

.contact-title {
    margin-top: 1.250em;
}

.footer-layout {
    padding-top: 0.625em;
    margin: 1.250em 0.938em;
}


/* IMAGE STYLES  */

.top-img {
    max-width: 70%;
}

.portfolio-img {
    max-width: 100%;
}

.skills-img {
    max-width: 30%;
}

/* FLEXBOX STYLES  */

.mobile-container {
    display: flex;
    justify-content: space-between;
}



/* MEDIA QUERIES  */

@media (min-width: 768px) {



    .title-margin{
        margin-bottom: 1.3em;
        margin-top: 2em;
    }

    .flex {
        display: flex;    

    }

    .main-nav {
        justify-content: center;
    }

    .main-nav a {
        padding: 0;
    }

    .main-nav li {
        background-color: #ededed;
    }

    .sub-header {
        margin: 3em 1.5em;

    }

    .top-img {
        margin-left: 0.625em;
        max-width: 30%;
    }

    .skills-img {
        max-width: 20%;
    }

    .intro-item {
        order: -1;
        text-align: left;

    }

    .top {
        display: none;
    }

    .full {
        display: contents;
    }

    .full a {
        margin-left: 1.875em;
    }

    .wrap {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .portfolio-item {
        max-width: 49%;
    }

    .contact-box {
        max-width: 60%;
        margin: 0 auto;
        padding: 3.125em 0;
    }

    .contact-text {
        margin: 3.125em auto;
    }

    .footer-layout {
        margin-top: 0;
    }

    .portfolio-box {
        padding: 2em 1.5em 1.5em;
    }

}

@media (min-width: 1024px) {


.desktop-container {
    display: flex;
    justify-content: space-between;
    margin: 4.375em;
}

.sub-header {
   margin-left: 4.375em;
   margin-right: 4.375em;
}

.title-margin {
    margin: 0;
}

.top-img {
    max-width: 100%;
    margin-left: 2.500em;
}

.intro-item {
    margin: 0;
}

.portfolio-item {
    max-width: 30%;
}

.contact-box {
    max-width: 70%;
}
}