* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: dimgrey;
    margin: 0 auto;
    text-align: center;
    background-color: #f7f4f0;  
}

ul {
    list-style: none;
    padding-left: 0;
}

h1 {
    font-size: 1.5em;
}

h3 {
    font-weight: 600;
}

span {
    font-weight: 700;
}

p {
    line-height: 1.563em;
}

footer {
    border-top: 1px solid #d8d8d8;
}

.top-nav {
    background-color: #FFF;
    margin: 5px auto;   
    padding: 10px;
}


.portfolio-box { 
    background-color: #FFFFFF;
    color: #797979;
}


.full {
    display: none;
}


/* NAV STYLES  */


.main-nav a {
    display: block;
    color: inherit;
    font-weight: 700;
    text-align: center;
    padding: .8em;
    text-decoration: none;
}

.main-nav li {
    background-color: #fff;
    margin: .4em 15px;
}

.uppercase-text {
    text-transform: uppercase;
    font-size: 14px;
}



/* LAYOUT STYLES */
.title-margin {
    margin: 1.2em auto;
}

.layout-padding {
    padding: 1.875em 0.813em 1.250em;
}

.nav-padding {
    padding: 0;
    margin: .625em;
}

.portfolio-title {
    margin-bottom: 40px;
}




/* IMAGE STYLES  */

.top-img {
    width: 70%;
}

.box-img {
    width: 100%;
}

/* FLEXBOX STYLES  */

.mobile-container {
    display: flex;
    justify-content: space-between;
}